<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util-2.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       default-autowire="byName">

    <bean id="userDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="nianyang.mny.dao.UserDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactorySpu"/>
    </bean>

    <bean name="sqlSessionFactorySpu" id="spuSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="threeKingdomDataSource"/>
        <property name="mapperLocations">
            <list>
                <value>mybatis/mapper/UserDAO.xml</value>
            </list>
        </property>
    </bean>

    <bean id="threeKingdomDataSource" class="com.mysql.cj.jdbc.MysqlConnectionPoolDataSource">

        <property name="user" value="root"/>
        <property name="password" value="root"/>
        <property name="databaseName" value="three_kingdom"/>
    </bean>


</beans>